*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202020;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

img {
    border-radius: 50%;
    border: 3px solid #9bcf29;
    width: 200px;
    height: 200px;
    text-align: center;
}

.profile{
    margin: 0 20px;
}

.btnLogout{
    color: aliceblue;
    background-color: #9bcf29;
    border-style: none;
    padding: 10px;
}

h2 {
    color: aliceblue;

    padding-top: 20px;
    padding-bottom: 7px;

    border-bottom: solid 1px grey;

}


@media screen and (min-width: 768px){
    .profile-container{
        flex-direction: row;
        padding: 20px;
    }
}

@media screen and (min-width: 956px){
    .profile-container{
        gap: 10rem;
    }
}